<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игра по вики</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="username">Имя пользователя:</label>
        <input id="username" name="username">
        <input type="submit" value="Начать игру">
    </form>

    <p>
        <strong>Суть игры</strong><br>
        1) Определяется количество игроков, каждый игрок вводит свое имя<br>
        2) Всем игрокам на старте выдается две случайных существующих страницы из Википедии. Стартовая и финишная<br>
        3) Далее каждому из игроков предоставляется список страниц, на которые можно перейти по ссылкам с текущей страницы<br>
        4) Каждый игрок выбирает страницу для перехода, после чего он получает список с новой страницы и так далее<br>
        5) Игроки ходят по очереди<br>
        6) Игрок перестает ходить, когда достигает финишной страницы. В этот момент фиксируется число переходов, за которое ему удалось достичь финиша<br>
        7) После того, как все игроки достигли финиша, выводится таблица с их результатами.<br>
    </p>

    <strong>Правила игры</strong>

    <ul>
        <li>Для игры необходимо 4 игрока (открытых сессий)</li>
        <li>Можно перейти в начальную страницу, но это будет считаться как дополнительно посещенная страница</li>
    </ul>

</body>
</html>